<a href="https://colab.research.google.com/github/Amruth56/OOP_lab/blob/main/OOP_LAB_ASSIGNMENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***`AMRUTH_MANDAPPA_20BCS013_OOP_TASK_2`***

#**PROBLEM 1**

In [ ]:

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def perimeter(self):
        return (2 * (22/7) * self.radius)

    def area(self):
        return ((22/7) * (self.radius ** 2))

cir = Circle(6)
print(cir.perimeter())
print(cir.area())

37.714285714285715
113.14285714285714

#**PROBLEM 2**

In [ ]:
class Faculty:
    
    def input_data(self):
        self.name = str(input("Enter the name of the Employee : "))
        self.emp_ID = int(input("Enter the employee ID : "))
        self.branch = str(input("Enter the branch : "))
        self.salary = int(input("Enter the salary : "))

    def out_data(self):
        print(f"Faculty Name : {self.name} \n Faculty Employee ID : {self.emp_ID} \n Faculty Branch : {self.branch} \n Faculty Salary : {self.salary}\n")
        return self.name, self.emp_ID, self.branch, self.salary

list_fac = []
for x in range(1,6):
    temp = Faculty()
    print(f"\nEnter the data for {x}th employee : ")
    temp.input_data()
    list_fac.append(temp)

for x in range(0,5):
    print(f"\n\n\nData of {x+1}th employee : ")
    list_fac[x].out_data()

Enter the data for 1th employee :
Enter the name of the Employee : ABC
Enter the employee ID : 001
Enter the branch : cse
Enter the salary : 200000

Enter the data for 2th employee :
Enter the name of the Employee : DEF
Enter the employee ID : 002
Enter the branch : cse
Enter the salary : 200000

Enter the data for 3th employee :
Enter the name of the Employee : LMN
Enter the employee ID : 003
Enter the branch : cse
Enter the salary : 200000

Enter the data for 4th employee :
Enter the name of the Employee : XYZ
Enter the employee ID : 004
Enter the branch : cse
Enter the salary : 200000

Enter the data for 5th employee :
Enter the name of the Employee : UVW
Enter the employee ID : 005
Enter the branch : cse
Enter the salary : 200000



Data of 1th employee :
Faculty Name : ABC
 Faculty Employee ID : 1
 Faculty Branch : cse
 Faculty Salary : 200000




Data of 2th employee :
Faculty Name : DEF
 Faculty Employee ID : 2
 Faculty Branch : cse
 Faculty Salary : 200000




Data of 3th employee :
Faculty Name : LMN
 Faculty Employee ID : 3
 Faculty Branch : cse
 Faculty Salary : 200000




Data of 4th employee :
Faculty Name : XYZ
 Faculty Employee ID : 4
 Faculty Branch : cse
 Faculty Salary : 200000




Data of 5th employee :
Faculty Name : UVW
 Faculty Employee ID : 5
 Faculty Branch : cse
 Faculty Salary : 200000

#**PROBLEM 3**

In [ ]:
class Account:
    def __init__(self, account_number, account_holder_name, amount):
        self.accountNumber = account_number
        self.accountHolderName = account_holder_name
        self.Amount = amount

    def deposit(self):
        deposit_Amount = int(input("Enter the amount to deposit in your bank: "))
        self.Amount += deposit_Amount
        print(f"Amount deposited : {deposit_Amount} \n New Balance : {self.Amount}")

    def withdraw(self):
        withdraw_Amount = int(input("Enter the amount to withdraw from your account: "))
        if withdraw_Amount > self.Amount:
            print("Low bank balance.")
            return -1
        self.Amount -= withdraw_Amount
        print(f"Amount withdraw : {withdraw_Amount} \n New Balance Avaliable= {self.Amount}")
        return withdraw_Amount

    def check_bank_Balance(self):
        print(f"Account Balance : {self.Amount}")
        return self.Amount

    def getDetails(self):
        print(f"\n Account Number : {self.accountNumber} \n Account Holder Name : {self.accountHolderName} \n Account Balance : {self.Amount}")
        return self.accountNumber, self.accountHolderName, self.Amount

a1 = Account(13, "Amruth Mandappa T.S", 10000)
a1.deposit()
withdraw = a1.withdraw()
balance = a1.check_bank_Balance()
details = a1.getDetails()

Enter the amount to deposit in your bank: 3000
Amount deposited : 3000
 New Balance : 13000
Enter the amount to withdraw from your account: 8000
Amount withdraw : 8000
 New Balance Avaliable= 5000
Account Balance : 5000

 Account Number : 13
 Account Holder Name : Amruth Mandappa T.S
 Account Balance : 5000

#**PROBLEM 4**

In [ ]:
class student():
  def __init__(self,Student_Name,Student_USN,Student_Marks):
    self.Student_Name = Student_Name
    self.Student_USN = Student_USN
    self.Student_Marks = Student_Marks
  def Students_Name(self):
    print("Student Name: ", self.Student_Name)
  def Students_USN(self):
    print("Student USN: ", self.Student_USN)
  def Students_Marks(self):
    print("Student Marks: ",self.Student_Marks)
marks = []
marks.append(99)   
marks.append(94)
marks.append(98)

s1 = student("Itadori", 25, marks)
s1.Students_Name()
s1.Students_USN()
s1.Students_Marks()

Student Name:  Itadori
Student USN:  25
Student Marks:  [99, 94, 98]

#**PROBLEM 5**

In [31]:

class Patient:
  def __init__(self, name, admission_date, symptoms : list, oxygen_level, discharge_date):
    self.name = name
    self.admission_date = admission_date
    self.symptoms = symptoms
    self.oxygen_level = oxygen_level
    self.discharge_date = discharge_date

class Data:
  def __init__(self):
    self.oxygen_support = []
    self.general_ward = []

  def Patient(self, patient):
    if (patient.oxygen_level < 90):
      self.oxygen_support.append(patient)
    else:
      self.general_ward.append(patient)

  def numberOxygen(self):
    print(f"Totaal number of patients needing oxygen support is {len(self.oxygen_support)}")

  def numberGeneral(self):
    print(f"Total number of patients in general ward is {len(self.general_ward)}")

  def totalPatients(self):
    print(f"Total number of patients is {len(self.general_ward)+len(self.oxygen_support)}")

  def patientInfo(self):
    print("Patients in oxygen support")
    for patient in self.oxygen_support:
      print("\n")
      print("Name:", patient.name)
      print("Admission Date:", patient.admission_date)
      print("symptoms:", patient.symptoms)
      print("oxygen level:", patient.oxygen_level)
      print("Discharge Date:", patient.discharge_date)
      print("\n")

    print("Patients in General ward")
    for patient in self.general_ward:
      print("Name:", patient.name)
      print("Admission Date:", patient.admission_date)
      print("symptoms:", patient.symptoms)
      print("oxygen level:", patient.oxygen_level)
      print("Discharge Date:", patient.discharge_date)
      print("\n")

patient1 = Patient("ABC", "6/09/2021", ["Diarrhea", "Nausea"], 80, "30/09/2021")
patient2 = Patient("XYZ", "10/09/2021", ["Fatigue", "Fever"], 110, "28/09/2021")

db = Data()
db.Patient(patient1)
db.Patient(patient2)
db.patientInfo()
db.numberOxygen()
db.numberGeneral()
db.totalPatients()

Patients in oxygen support


Name: ABC
Admission Date: 6/09/2021
symptoms: ['Diarrhea', 'Nausea']
oxygen level: 80
Discharge Date: 30/09/2021


Patients in General ward
Name: XYZ
Admission Date: 10/09/2021
symptoms: ['Fatigue', 'Fever']
oxygen level: 110
Discharge Date: 28/09/2021


Totaal number of patients needing oxygen support is 1
Total number of patients in general ward is 1
Total number of patients is 2

#**PROBLEM 6**

In [42]:
class time():
  def __init__(self,hr=0,min=0,sec=0):
    self.hour = hr
    self.minute = min
    self.second = sec
  def dis(self):
    print("Time :",self.hour,":",self.minute,":",self.second)
t1 = time()
t1.dis()
t1.hour = 11
t1.minute = 59
t1.second = 59
t1.dis()

Time : 0 : 0 : 0
Time : 11 : 59 : 59